.btn{
  display: flex;
  justify-content: center;
  margin-top:100px;
  width: 100%;
}

.btn button{
  background-color:rgb(28, 204, 28);
  width:250px;
  padding:8px;
  border:none;
  border-radius:5px;
  color:#FFF;
  font-size:20px;
  cursor:pointer;
  
}