@charset 'UTF-8';


#header_{
  opacity:0;
  position:absolute;
  background-color:#2c3e50;
  width:70%;
  display: block;
  text-align: center;
  transition:opacity 600ms linear;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  
  
 
}  
#header_ h1,h3{
  color: #FFF;
} 

  
#header_ ul li{
  padding:6px;
 transition:ease-in-out 600ms;
 
 
 
 
}

#header_ ul li:hover{
  background-color:#2980b9;
  transition:ease-in-out 600ms;
  
}
#header_ ul li a{
  color:#FFF;
  text-decoration: none;
  font-size:18px;
  text-transform:capitalize;
 

  
}
  
  
.icon{
  display: flex;
  justify-content: end;
  width:100%;
  background-color:#2c3e50;
  
}
.material-icons{
  background-color:#2c3e50;
  font-size:30px;
  color: #FFF;
  width:10%;
  padding:5px;
  padding-right:15px;
  text-align:center;
  cursor:pointer;
}






